<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="app">
      This is a zombie game.<br>
      Be prepared for the massive zombie come to you.<br>
      Use mouse to move.<br>
      Click on the zombie can kill it.<br>
      Have fun!<br>
      <br><br>
      <a href="javascript:app.init();">START</a>
    </div>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src='/javascripts/config.js'></script>
    <script src='/javascripts/helper.js'></script>
    <script src='/javascripts/player.js'></script>
    <script src='/javascripts/zombie.js'></script>
    <script src='/javascripts/app.js'></script>
  </body>
</html>
